<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cqu.mapper.AdminMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.edu.cqu.entity.Admin">
        <id column="a_Id" property="aId" />
        <result column="a_Name" property="aName" />
        <result column="a_Password" property="aPassword" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        a_Id, a_Name, a_Password
    </sql>

</mapper>
