<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cqu.mapper.BoardMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.edu.cqu.entity.Board">
        <id column="board_Id" property="boardId" />
        <result column="board_Text" property="boardText" />
        <result column="board_Time" property="boardTime" />
        <result column="a_Id" property="aId" />
        <result column="UPDATED_TIME" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        board_Id, board_Text, board_Time, a_Id, UPDATED_TIME
    </sql>

</mapper>
